.header-area{
    text-align: center;
    
}
.header-area img{
    width: 250px;
    padding: 20px;
}
.nav-area {
    padding: 20px;
    background: #232F3E;
    text-align: left;
}
nav a {
    padding: 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}
nav a:hover{
    color: black;
    border-radius: 8px;
    background: lightgray;
}